= render 'shared/google_ads'
= render 'shared/side_components/category_lists'
= render 'shared/side_components/popular_tags'
= render 'shared/google_ads'
= render 'shared/side_components/weekly_ranking'
